body, footer {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-text-color;
    margin: 0px;
}

header {
    border-bottom: 1px solid $bg-color;
    padding-top: 24px;
    padding-bottom: 25px;
    .container  {
        display: flex;
        align-items: center;
    }
}

ul {
    list-style: none;
}

button {
    border-radius: 4px;
    background-color: $background-buttons-color;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: $main-title-color;

    transition:  background-color $time $timing-function, color $time $timing-function;

    &:hover, &:focus {
        background-color: $hover-focus-color;
        color: $main-text-white-color;
    
        transition:  background-color $time $timing-function, color $time $timing-function;
    }
}

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    color: $main-title-color;
    text-decoration: none; 
}

.container  {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;

    &-footer-logo {
        margin-right: 70px;
    }

    &-nav {
        display: flex;
        align-items: center;
    }
}

.footer {
    .container {
        display: flex;
        align-items: baseline;
    }
}

.footer {
    background-color: $footer-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    color: $main-text-white-color; 
    line-height: 1.71;
    margin-top: 20px;
}

img {
    display: block;
}

image {
    max-width: 100%;
    height: auto;
    display: block;
}


.add {
    text-transform: uppercase;
    width: 145px;
    height: 16px;
    font-size: 14px;
    line-height: 1.17;
    color: $main-text-white-color;
    font-weight: 700;
    text-align: center;
}

.mailing {
    text-transform: uppercase;
    width: 145px;
    height: 16px;
    font-size: 14px;
    line-height: 1.17;
    color: $main-text-white-color;
    font-weight: 700;
    text-align: center;
    width: 219px;
    &-input {
        width: 358px;
        height: 50px;
        background-color: $footer-bg-color;
        border: 1px solid $border-input-color; 
        border-radius: 4px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 0;
        margin-top: 13px;
        outline: none;
        color: rgba(225, 225, 225, 60);
    }
}

.sign-up-button {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    background-color: $hover-focus-color;
    color: $main-text-white-color;
    width: 200px;
    height: 50px;
    padding-left: 29px;
    margin-left: 12px;
    margin-top: 36px;
    &:hover, &:focus {
        background-color: $hover-focus-color;
        color: $main-text-white-color;
    }
}

.sign-up-ul {
    display: flex;
    margin-left: 94px;
    align-content: center;
    width: 570px;
    height: 86px;
    margin-right: 0px;
}
