
.contacts { 
    &-header {
        justify-items: center;
        margin-left: auto;
        display: flex;
        align-content: center; 

        &-mail, &-tel {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $main-text-color;    
            font-weight: 500;
            line-height: 1.17;
            transition: color $time $timing-function; 
        }

        &:hover, &:focus {
            color: $hover-focus-color;
            transition: color $time $timing-function;
        }

        li:not(:last-child) {
            margin-right: 50px;
        }
    }

    &-footer-mail, &-footer-tel {
        color: $contacts-footer-color; 
        line-height: 1.17;

        &:hover, &:focus {
            color: $hover-focus-color;
            transition: color $time $timing-function;
        }
    }
} 

