.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;
    background-color: $main-text-white-color;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    padding: 40px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;

    opacity: 1;
    transition: opacity $time $timing-function, visibility $time $timing-function;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.btn-vector {
    position: absolute;
    width: 30px;
    height: 30px;
    color: $main-text-white-color;
    background-color: $main-text-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 8px;
    right: 8px;
    outline: none;
    transition:  color $time $timing-function, border-color $time $timing-function;    

    &:focus, &:hover {
        color: $main-text-white-color;
        background-color: $main-text-white-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transition:  color $time $timing-function, border-color $time $timing-function;
    }

    &:focus 
    .icon-vector {
        fill: $hover-focus-color;
        transition:  fill $time $timing-function;
    }

    &:hover 
    .icon-vector {
        fill: $hover-focus-color;
        transition:  fill $time $timing-function;
    }
}

.data {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.172;
    color: $color-data;
    margin-bottom: 12px;
}

.form {
    display: block;
    margin-left: auto;
    &-div {
        position: relative;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    &-div:nth-child(4) {
        margin-bottom: 20px;
    }
    &-div-check {
        position: relative;
        margin-bottom: 30px; 
    }
    &-btn {
        width: 200px;
        height: 50px;
        background-color: $hover-focus-color;
        color: $main-text-white-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: transform $time $timing-function;
    }
}

.span-form {
    display: block;
    text-align: left;
}

.checkbox:checked + .icon-check {
    border-color: transparent;
    background-color: $hover-focus-color;
    background-image: url('../images/check.svg');
    background-size: contain;
    background-origin: border-box;
}

.checkbox:hover + .icon-check, .checkbox:focus + .icon-check {
    border-color: $hover-focus-color;
}

.label{
    &-name, &-tel, &-mail, &-comment {
        position: relative;
        color: $main-text-color;
        font-size: 12px;
        line-height: 1.17;
        transition: transform $time $timing-function;
    }
    &-check {
        display: inline-block;
    }
}

.input-name, .input-phone, .input-email, .input-comment {
    position: relative;
    cursor: pointer;
    border: 1px solid $border-color-input;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    text-align: left;
    padding-left: 42px;
    transition: transform $time $timing-function;
    outline: none;
}

.input {
    &-comment {
        width: 448px;
        height: 120px;
        padding: 12px 16px;
        text-align: left;

        &::placeholder {
            color: $pleceholder-color;
            transform: translateX(0%);
            transform: translateY(-250%);
            transition: transform $time $timing-function;
        }
    }
    &-name, &-phone, &-email, &-comment {
        &:hover, &:focus {
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid $hover-focus-color;
            transition: transform $time $timing-function;
        }
    }
}

.input-name:hover + .icon-person, .input-phone:hover + .icon-phone, .input-email:hover + .icon-email,
.input-name:focus + .icon-person, .input-phone:focus + .icon-phone, .input-email:focus + .icon-email {
    fill: $hover-focus-color;
    transition: transform $time $timing-function;
}

.contract {
    color: $hover-focus-color;
    text-decoration: underline;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
